[submodule "pelican-yaml-metadata"]
	path = pelican-yaml-metadata
	url = https://github.com/pR0Ps/pelican-yaml-metadata
[submodule "pelican-themes"]
	path = pelican-themes
	url = https://github.com/getpelican/pelican-themes
